.container {
  margin: auto 0;
  padding: 25px 75px;
}
.Purple {
  color: rgb(85, 13, 85);
}
body {
  font-family: "Unbounded", sans-serif;
}
.FirstLeatter {
  font-size: 25px;
}
.Pink {
  color: rgb(151, 14, 151);
}
.Text {
  background-color: rgb(227, 192, 255);
  padding: 10px;
}
.Termin {
  color: rgb(85, 13, 85);
  font-weight: bold;
}
